body {
	background-image: url("xmas.jpg");
	background-size: 100%;
	position:  relative;
	background-repeat: no-repeat;
	background-position: center;
	text-align: center;
}

h1 {
	font-family: 'Gloria Hallelujah', cursive;
	font-size: 70px ;
	margin: 0.2em;
	color: white;
}

h2 {
	margin: 1em 0 0.25em;
}

h2:first-of-type {
	margin-top: 0.5em;
}

h4{
	margin-top: 5.5px;
}

table,
tr,
td {
	border: 1px solid black;
}

table {
	border-collapse: collapse;
	margin: 0 auto;
}

tr {
	height: 20px;
}

td {
	width: 20px;
}

#colorSelector{
	border:2px solid black;
	border-radius: 5px;
	width: 150px;
}

#pixel_canvas{
	border: solid black 3px;
}

#canvas_border_color{
	width:150;
	height:150;
	position:center;
}

.vertical-menu-left {
    width: 200px;
    float: left;
}

.vertical-menu-left a {
    background-color: #eee;
    color: black;
    display: block;
    padding: 12px;
    text-decoration: none;
}

.vertical-menu-left a:hover {
    background-color: #4ECDC4;
}

.vertical-menu-left a.title {
    background-color: #CDB380;
    color: black;
}

.vertical-menu-right {
    width: 200px;
    float: left;
}

.vertical-menu-right a {
    background-color: #eee;
    color: black;
    display: block;
    padding: 12px;
    text-decoration: none;
}

.vertical-menu-right a:hover {
    background-color: #4ECDC4;
}

.vertical-menu-right a.title {
    background-color: #CDB380;
    color: black;
}

.vertical-menu-right a.legend {
    background-color: #556270;
    color: black;
}