/*
Created by Gabriel Moraru
Email: gabrielcmoraru@gmail.com
 */

body {
	background-image: url("xmas.jpg");
	background-size: 100%;
	background-size: cover;
	position:  relative;
	background-repeat: no-repeat;
	background-position: center;
	text-align: center;
}

h1 {
	font-family: 'Mountains of Christmas', cursive;
	font-size: 70px ;
	margin: 0.2em;
	color: white;
}

h2 {
	font-family: 'Mountains of Christmas', cursive;
	font-size: 30px ;
	margin: 0.2em;
	color: white;
}

h3{
	margin-top: 3px;
	margin-bottom: 3px;
	color: white;
}

table,
tr,
td {
	border: 1px solid black;
}

table {
	border-collapse: collapse;
	margin: auto;
}

tr {
	height: 20px;
}

td {
	width: 20px;
}

span {
	box-decoration-break: clone;
	margin: 2px;
	padding: 5px;
	border: 1px solid black;
}

p {
	font-family: 'comic Sans', cursive;
}

a{
	text-decoration: none;
}

button {
	font-family: 'comic Sans', cursive;
	border-radius: 5px;
	border: 1px solid black;
}

i {
	font-size: 45px;
}

i.fa-codepen {
	font-size: 45px;
}

i.devicon-twitter-plain {
	font-size: 25px;
}

button.jscolor{
	border:1px solid black;
	border-radius: 10px;
	width: 175px;
	margin-top: 5px;
	margin-bottom: 5px;
}

table.pixel_canvas{
	flex-direction: column;
}

input.jscolor{
	width:100px;
	height:40px;
	text-align: center;
	margin: 0px;
	padding: 5px;
}

button.grinch_edition{
	color: black;
	background-color: yellowgreen;
	font-size:20px;
}

#footer {
	background-color: #efefef;
	padding: 5px;
	opacity: 0.80;
}

.tips {
	margin: 10px;
	padding: 10px;
	border: 2px solid red;
	color: blue;
	background-color: yellow;
	position: absolute;
	z-index: 1;
	opacity: 0.9;
}

.tips .tipstext {
	visibility: hidden;
	width: 270px;
	background-color: yellow;
	color: black;
	text-align: center;
	border-radius: 10px;
	padding: 5px 0;
	position: absolute;
	z-index: 1;
	top: 125%;
	left: 175%;
	margin-left: -60px;
	opacity: 0;
	transition: opacity 1s;
}

.tips:hover .tipstext {
	visibility: visible;
	opacity: 1;
}

.centerArea{
	display: flex;
	flex: 1 0 auto;
	flex-wrap: wrap;
	align-items: flex-start;
	flex-direction: row;
	justify-content: center;
	margin-bottom: 20px;
}

.vertical-menu-left {
	width: 200px;
	border: 1px solid black;
	font-family: 'comic Sans', cursive;
}

.vertical-menu-left a {
	background-color:lightseagreen ;
	color: black;
	display: block;
	padding: 10px;
	text-decoration: none;
/* lightcoral */
/* lightseagreen */
/* lightskyblue */
/* lemonchiffon */
}

.vertical-menu-left a:hover {
	background-color: #ff9800;
}

.vertical-menu-left a.title {
	background-color: #673ab7;
}

.vertical-menu-right {
	width: 200px;
	border: 1px solid black;
	font-family: 'comic Sans', cursive;
}

.vertical-menu-right a {
	background-color: lightseagreen;
	color: black;
	display: block;
	padding: 10px;
	text-decoration: none;
}

.vertical-menu-right a:hover {
	background-color: #ff9800;
}

.vertical-menu-right a.title {
	background-color: #673ab7;
	color: black;
}
